// See GH-9. This content is extracted from official example, however broken after fmt
package {
  // "Slashdash" comments operate at the node level,
  // with just `/-`.
  /-this-is-commented {
    this "entire" "node" {
      "is" "gone"
    }
  }
}
