# https://github.com/NixOS/nixos-artwork/blob/35ebbbf01c3119005ed180726c388a01d4d1100c/logo/README.md#L5
name: ❄️
on:
  push:
    tags:
      # Do not add v prefix: https://github.com/dprint/plugins/blob/75a3755b8734eee294214a7d7efc18145668a99f/README.md?plain=1#L27
      # https://github.com/actions/runner/issues/1699#issuecomment-1046796067
      - '[0-9]+.[0-9]+.[0-9]+'
    branches: [main]
    paths:
      - '.github/workflows/nix.yml'
      - '**.nix'
      - 'flake.*'
      - '**.rs'
      - 'Cargo.*'
      - 'example'
      - 'Taskfile.yml'
  pull_request:
    paths:
      - '.github/workflows/nix.yml'
      - '**.nix'
      - 'flake.*'
      - '**.rs'
      - 'Cargo.*'
      - 'example'
      - 'Taskfile.yml'
  schedule:
    # Every 10:42 JST
    # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
    - cron: '42 1 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    # outputs:
    #   wasm-zip-url: ${{ steps.upload.outputs.artifact-url }}
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          extra_nix_config: |
            sandbox = true
            accept-flake-config = true
      - run: nix develop --command echo 'This step should be done before any other "nix develop" steps because of measuring Nix build time'
      - run: nix flake check
      - run: nix flake show
      - run: nix develop --command task deps
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2
        with:
          # flack.lock for https://github.com/kachick/dprint-plugin-kdl/pull/39#issuecomment-2396115803
          # Adding flake.nix to consider the environment values
          key: additional-${{ hashFiles('flake.*') }}
      - run: nix develop --command task
      - name: Upload WASM file as an artifact
        # id: upload
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: 'plugins'
          path: 'target/wasm32-unknown-unknown/release/dprint_plugin_kdl.wasm'
  check:
    strategy:
      fail-fast: false
      # Syntax https://docs.github.com/en/actions/using-jobs/using-a-matrix-for-your-jobs
      matrix:
        # Due to https://github.com/actions/runner/issues/849, we have to use quotes for 'n.0'
        dprint-version: [
          '', # empty means to latest: https://github.com/dprint/check/blob/2f1cf31537886c3bfb05591c031f7744e48ba8a1/action.yml#L8
          '0.50.2', # selfup {"extract":"\\d[^']+","replacer":["dprint", "--version"], "nth": 2}
        ]
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    needs: [build]
    steps:
      - uses: actions/checkout@v6
      - uses: dprint/check@9cb3a2b17a8e606d37aae341e49df3654933fc23 # v2.3
        with:
          dprint-version: '${{ matrix.dprint-version }}'
      - name: Make sure dprint status
        run: |
          dprint --version
          dprint output-file-paths
      - name: Install WASM plugin
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh run download '${{ github.run_id }}'
          tree
          dprint config add "file:${PWD}/plugins/dprint_plugin_kdl.wasm"
      - run: dprint output-file-paths | grep -F '.kdl'
      - run: dprint check
        id: dprint-check
        continue-on-error: true
      - run: |
          false
        if: steps.dprint-check.outcome == 'success'
      - run: |
          dprint fmt
          diff ./example/zellij-config.raw.kdl ./example/zellij-config.expected.kdl
  release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    needs: [build, check]
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      # Required to checkout for gh command
      - uses: actions/checkout@v6
      - run: |
          gh run download '${{ github.run_id }}'
          tree
          mv plugins/dprint_plugin_kdl.wasm plugins/plugin.wasm
      - run: |
          gh release create --verify-tag "$GITHUB_REF_NAME" --title "$GITHUB_REF_NAME" plugins/plugin.wasm
